---
const PROJECTS = [
  {
    title: "Project 1",
    description:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut urna in nunc facilisis ultrices. Donec urna ipsum, pulvinar ut mattis id, scelerisque et tellus. Fusce at auctor dui.',
    link: "#",
    github: "#",
    image: "https://www.uship.com/learn/ca/wp-content/uploads/sites/3/thumbnail-placeholder-300x200-300x200.png",
    tags: ["HTML", "CSS", "JavaScript"],
  }
]
---

{
    PROJECTS.map(({ image, title, description, tags}) => (
        <article>
            <h3>{title}</h3>
            <p>{description}</p>
            <ul>
                {tags.map(tag => (
                    <li>{tag}</li>
                ))
                }
            </ul>
            <img src={image} alt={`Captura de pantalla del proyecto ${image}`} />
        </article>
    ))
}
 